.ProductList {
    list-style-type: none;
    background-color: #a1bbef;;
    width: 45%;
    margin: auto;
}

.PageTitle {
    margin-top: 0%;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
}

.ListView {
    margin:0 0 15px 0;  
}