.ProductList {
    list-style-type: none;
    padding-left: 0%;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.PageTitle {
    text-align: center;
    margin-top: 0%;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 50px;
}

.SearchBar {
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    font-size: x-large;
}

.ListView {
    list-style-type: none;
}

@media (max-width: 1000px) {
    .ProductList {
        width: 80%;
    }
}