.user-product-list {
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
    margin-top: 25px;
}

.user-product-view {
    list-style-type: none;
}

